In [1]:
import pandas as pd

In [8]:
import os
print("Current working directory:", os.getcwd())

Current working directory: /home/fdht09/vincent/DeepXDE_test/PINN_custom/src/data_process

In [13]:
print("Contents of current directory:", os.listdir('../..'))

Contents of current directory: ['main.py', 'data', '__pycache__', 'src', 'results']

In [14]:
file_path = "../../data/cylinder.csv"
df = pd.read_csv(file_path)

In [15]:
df.describe()

,TimeStep,Time,Points:0,Points:1,Points:2,U:0,U:1,U:2,p
count,2.826000e+06,2.826000e+06,2.826000e+06,2.826000e+06,2826000.0,2.826000e+06,2.826000e+06,2.826000e+06,2.826000e+06
mean,7.450000e+01,7.550000e+01,3.088352e+00,-1.905240e-16,0.0,9.113882e-01,3.184817e-05,3.356372e-23,-3.673176e-02
std,4.330032e+01,4.330032e+01,1.051818e+01,8.089716e+00,0.5,3.204348e-01,1.304893e-01,3.136053e-20,1.302342e-01
min,0.000000e+00,1.000000e+00,-2.000000e+01,-2.000000e+01,-0.5,-7.676100e-01,-7.623700e-01,-5.852500e-19,-1.107800e+00
25%,3.700000e+01,3.800000e+01,-2.529800e+00,-4.016300e+00,-0.5,9.573200e-01,-3.388500e-02,0.000000e+00,-8.847100e-02
50%,7.450000e+01,7.550000e+01,1.253800e+00,0.000000e+00,0.0,1.007600e+00,0.000000e+00,0.000000e+00,-8.612850e-03
75%,1.120000e+02,1.130000e+02,8.715400e+00,4.016300e+00,0.5,1.056400e+00,3.408900e-02,0.000000e+00,2.791800e-02
max,1.490000e+02,1.500000e+02,3.000000e+01,2.000000e+01,0.5,1.631500e+00,7.623700e-01,7.135600e-19,5.933900e-01